@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  font-family: 'Nanum Gothic', sans-serif;
}
b {
  font-weight: 900;
}
h1 {
  line-height: 1.2em;
  font-weight: 400;
  font-size: 3em;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h2 {
  line-height: 1.3em;
  font-weight: 400;
  font-size: 2em;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h3 {
  line-height: 1.4em;
  font-weight: 400;
  font-size: 1.5em;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h4 {
  line-height: 1.5em;
  font-weight: 400;
  font-size: 1.2em;
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn-default {
  color: #ffffff;
  background-color: #26a69a;
  border: none;
  padding-left: 28px;
  padding-right: 28px;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #26a69a;
  border: none;
}
.btn-default:focus {
  color: #ffffff;
  background-color: #26a69a;
  border: none;
}
.btn.btn-large {
  font-size: 2em;
  min-width: 150px;
  min-height: 40px;
  display: block;
  margin: 20px auto 40px auto;
}

body {
  color: #ffffff;
}
article {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* MENU */
.main-menu a {
  color: #ffffff;
}
.main-menu .wide {
  margin: 20px auto 18px auto;
  height: 62px;
}
.main-menu .narrow {
  height: 46px;
  background-color: rgba(55,71,79,0.7);
  font-size: 25px;
}
.main-menu > div > span {
  text-align: center;
}
.main-menu .narrow .glyphicon {
  margin-top: 10px;
}
.main-menu .narrow > span {
  height: 46px;
  line-height: 46px;
}
.main-menu .wide span {
  border-bottom: solid 1px #ffffff;
  height: 62px;
  line-height: 62px;
}
.main-menu .logo {
  display: block;
}
.main-menu .wide .logo {
  width: 80px;
  margin: 15px auto auto auto;
}
.main-menu .narrow .logo {
  width: 50px;
  margin: 4px auto auto auto;
}

/* DRAWER */
.drawer-heading img {
  width: 100px;
  border-radius: 50%;
}
.drawer-heading .profile {
  padding: 15px;
  line-height: 20px;
}

/* FOOTER */
footer {
  background-color: #80cbc4;
  padding: 20px 0px 20px 0px;
}

.nav-background.wide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100px;
  z-index: -2;
  background-color: #80cbc4;
}

article.light {
  background-color: #ffffff;
  color: #1F555F;
}

article.dark {
  background-color: #37474f;
  color: #ffffff;
}

article.till {
  background-color: #80cbc4;
  color: #ffffff;
}

h1.left, h2.left, h3.left, h4.left {
  margin-left: 0px;
  text-align: left;
}

table.default {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}
table.default th {
  border: solid 1px;
  text-align: center;
  padding: 2px;
}
table.default td {
  border: solid 1px;
  padding: 3px 10px 3px 10px;
}

.box.tall p {
  line-height: 2em;
}
.box.tall h1 {
  color: #37474f;
  margin-left: 0px;
  text-align: left;
}
.box.tall img {
  width: 100%;
  padding: 15%;
}
.box.tall h2 {
  text-align: center;
  color: #80cbc4;
}
.box.wide {
  height: 80px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
}
.box.wide img {
  float: left;
  width: 60px;
  margin-right: 10px;
}
.box.border {
  border: solid 2px #37474f;
}

.modal {
  color: #37474f;
}

/* Social Buttons for Bootstrap */
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-naver{color:#fff;background-color:#38CF20;border-color:rgba(0,0,0,0.2)}.btn-naver:focus,.btn-naver.focus{color:#fff;background-color:#1FC700;border-color:rgba(0,0,0,0.2)}
.btn-naver:hover{color:#fff;background-color:#1FC700;border-color:rgba(0,0,0,0.2)}
.btn-naver:active,.btn-naver.active,.open>.dropdown-toggle.btn-naver{color:#fff;background-color:#1FC700;border-color:rgba(0,0,0,0.2)}.btn-naver:active:hover,.btn-naver.active:hover,.open>.dropdown-toggle.btn-naver:hover,.btn-naver:active:focus,.btn-naver.active:focus,.open>.dropdown-toggle.btn-naver:focus,.btn-naver:active.focus,.btn-naver.active.focus,.open>.dropdown-toggle.btn-naver.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-naver:active,.btn-naver.active,.open>.dropdown-toggle.btn-naver{background-image:none}
.btn-naver.disabled:hover,.btn-naver[disabled]:hover,fieldset[disabled] .btn-naver:hover,.btn-naver.disabled:focus,.btn-naver[disabled]:focus,fieldset[disabled] .btn-naver:focus,.btn-naver.disabled.focus,.btn-naver[disabled].focus,fieldset[disabled] .btn-naver.focus{background-color:#38CF20;border-color:rgba(0,0,0,0.2)}
.btn-naver .badge{color:#38CF20;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
