<!-- drawer start -->
<div id="drawer" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold" aria-labelledby="drawer">
  <div class="drawer-contents">
    <div class="drawer-heading row">
      <div class="col-xs-5">
        <img src="img/instructor-03.png">
      </div>
      <div class="col-xs-7">
        <div class="profile">
          <b>Ryan Koo</b>
        </div>
        <div class="profile">
          info@headstartsv.com
        </div>
      </div>
    </div>
    <ul class="drawer-nav">
      <li role="presentation" class="active"><a href="/">Home</a></li>
      <li role="presentation"><a href="/bootcamp">Bootcamp</a></li>
      <li role="presentation"><a href="/precourse">Pre-Course</a></li>
      <li role="presentation"><a href="/events">Events</a></li>
      <li role="presentation"><a href="/alumni">Alumni</a></li>
      <li role="presentation"><a href="#instructor">Team</a></li>
      <li role="presentation"><a href="#contacts">Contacts</a></li>
    </ul>
    <div class="drawer-footer">
      <small>Headstart Silicon Valley, Inc, &copy; 2016</small>
    </div>
  </div>
</div>
<!-- drawer end -->
