<style>
  /* HEADER */
  header {
    text-align: center;
    background-color: #80cbc4;
  }
  header h3 {
    margin: 50px auto 50px auto;
  }
</style>
<!-- PROMOTE -->
<header>
  <section class="container">
    <h1><b>Pre-Courses</b></h1>
    <h3>
      Data Science 초보 탈출!!<br/>
      통계학의 기초부터 기본 코딩 까지<br/>
      Data Scientisct 가 되기 위한 기초과정
    </h3>
    <p>
      Data Science 의 기초지식을 스스로 학습<br/>
      학습 자료 및 관련 과제 제공<br/>
      Data Scietist 와의 1:1 Q&A
    </p>
  </section>
</header>
