<!-- COMMON TOP MENU -->
<nav class="main-menu">
  <!-- MOBILE TOP MENU -->
  <div class="narrow visible-xs-block visible-sm-block">
    <span class="col-sm-4 col-xs-4">
      <a href="#drawer" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawer">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      </a>
    </span>
    <span class="col-sm-4 col-xs-4">
      <img class="logo" src="img/logo.png">
    </span>
    <span class="col-sm-4 col-xs-4">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </span>
  </div>
  <!-- DESKTOP TOP MENU -->
  <div class="wide visible-md-block visible-lg-block container">
    <div class="col-md-5">
      <span class="col-md-3">
        <a href="/bootcamp">
          Bootcamp
        </a>
      </span>
      <span class="col-md-3">
        <a href="/precourse">
          PreCourse
        </a>
      </span>
      <span class="col-md-3">
        <a href="/events">
          Events
        </a>
      </span>
      <span class="col-md-3">
        <a href="/alumni">
          Alumni
        </a>
      </span>
    </div>
    <div class="col-md-2">
      <a href="/">
        <img class="logo" src="img/logo.png">
      </a>
    </div>
    <div class="col-md-5">
      <span class="col-md-3">
        <a href="#instructor">
          Team
        </a>
      </span>
      <span class="col-md-3">
        <a href="#contacts">
          Contacts
        </a>
      </span>
      <span class="col-md-3"></span>
      <span class="col-md-3">SignIn</span>
    </div>
  </div>
</nav>

<span class="nav-background wide visible-md-block visible-lg-block">
</span>
