<!-- COMMON TOP MENU -->
<nav class="main-menu">
  <!-- MOBILE TOP MENU -->
  <div class="narrow visible-xs-block visible-sm-block">
    <span class="col-sm-4 col-xs-4">
      <a href="#drawer" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawer">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      </a>
    </span>
    <span class="col-sm-4 col-xs-4">
      <img class="logo" src="img/logo.png">
    </span>
    <span class="col-sm-4 col-xs-4">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </span>
  </div>
  <!-- DESKTOP TOP MENU -->
  <div class="wide visible-md-block visible-lg-block container">
    <div class="col-md-5">
      <span class="col-md-3">
        <a href="/bootcamp">
          Bootcamp
        </a>
      </span>
      <span class="col-md-3">
        <a href="/precourse">
          PreCourse
        </a>
      </span>
      <span class="col-md-3">
        <a href="/events" class="under-construction">
          Events
        </a>
      </span>
      <span class="col-md-3">
        <a href="/alumni" class="under-construction">
          News
        </a>
      </span>
    </div>
    <div class="col-md-2">
      <a href="/">
        <img class="logo" src="/img/logo.png">
      </a>
    </div>
    <div class="col-md-5">
      <span class="col-md-3">
        <a href="/#instructor">
          Team
        </a>
      </span>
      <span class="col-md-3">
        <a href="/#contacts">
          Contacts
        </a>
      </span>
      <span class="col-md-3"></span>
      <span class="col-md-3">
        {{#if username}}
          <a href="/auth/signout">
            <button type="button" class="btn btn-default" data-toggle="modal">
              SignOut
            </button>
          </a>
        {{else}}
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">
            SignIn
          </button>
        {{/if}}
      </span>
    </div>
  </div>
</nav>

<span class="nav-background wide visible-md-block visible-lg-block">
</span>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">로그인</h4>
      </div>
      <div class="modal-body">
        <a class="btn btn-block btn-lg btn-social btn-facebook" href="/auth/facebook">
          <img src="/img/facebook-icon.png"/>
          페이스북으로 로그인
        </a>
        <a class="btn btn-block btn-lg btn-social btn-naver" href="/auth/naver">
          <img src="/img/naver-icon.png"/>
          네이버로 로그인
        </a>
      </div>
    </div>
  </div>
</div>
