<style>
  article.bootcamp-detail .container {
    margin: 10px auto 10px auto;
  }

  article.bootcamp-space img {
    width: 100%;
    margin: 10px;
    border: solid 1px;
  }

  article.bootcamp-project-description section div {
    padding: 3px;
    border: solid 1px;
    margin: 5px;
    text-align: center;
  }
  article.bootcamp-project-description section .name {
    font-weight: 400;
  }
  article.bootcamp-project-description section .desc {
    min-height: 150px;
  }

  article.bootcamp-camp-description section {
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    min-height: 200px;
    text-align: center;
  }

  article.bootcamp-price .row {
    margin: 10px;
  }
  article.bootcamp-price .name {
    text-align: right;
    font-weight: 400;
  }
  article.bootcamp-price .box {
    padding: 5px;
    border: solid 1px;
  }
</style>

{{> body/header-bootcamp}}
<main>
  <article class="bootcamp-detail light">
    <div class="container">
      <h2 class="left">Bootcamp Details</h2>
      <table class="default">
        <tr>
          <th>
            과 정
          </th>
          <td>
            Project 진행 + Feedback Seminar
          </td>
        </tr>
        <tr>
          <th>
            장 소
          </th>
          <td>
            3350 Thomas Rd, Santa Clara, CA, U.S, Headstart SiliconValley
          </td>
        </tr>
        <tr>
          <th>
            기 간
          </th>
          <td>
            Bootcamp 에 따라 다르게 표시
          </td>
        </tr>
        <tr>
          <th>
            일 정
          </th>
          <td>
            9:00 A.M ~ 05:00 P.M (주 2회 Project Feedback Seminar)
          </td>
        </tr>
        <tr>
          <th>
            Project List
          </th>
          <td>
            산불 예측<br/>
            자전거 수요 예측<br/>
            Air BnB Data 를 활용한 여행객 수요 예측<br/>
            의료 Data 를 활용한 암 진행 정도와 사망 연관성 분석<br/>
            등등등
          </td>
        </tr>
        <tr>
          <th>
            준비물
          </th>
          <td>
            개인 노트북
          </td>
        </tr>
      </table>
    </div>
  </article>
  <div class="container">
    <hr/>
  </div>
  <article class="bootcamp-space light">
    <div class="container">
      <h2 class="left">Bootcamp Space</h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/img/background0.jpg"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <img src="/img/background1.jpg"/>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <img src="/img/background2.jpg"/>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <img src="/img/background3.jpg"/>
        </div>
        <div class="col-md-1"></div>
      </div>
      <ul>
        <li>WIFI 제공</li>
        <li>Printer, Fax, Copy Machine 사용가능</li>
        <li>탕비실 완비</li>
        <li>주차장</li>
      </ul>
    </div>
  </article>
  <div class="container">
    <hr/>
  </div>
  <article class="bootcamp-project-description light">
    <div class="container">
      <h2 class="left">Project Description</h2>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <section>
            <div class="name">
              Project Name
            </div>
            <div class="desc">
              프로젝트 목표<br/>
              사용 언어<br/>
              소요 시간
            </div>
          </section>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <section>
            <div class="name">
              Project Name
            </div>
            <div class="desc">
              프로젝트 목표<br/>
              사용 언어<br/>
              소요 시간
            </div>
          </section>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <section>
            <div class="name">
              Project Name
            </div>
            <div class="desc">
              프로젝트 목표<br/>
              사용 언어<br/>
              소요 시간
            </div>
          </section>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <section>
            <div class="name">
              Project Name
            </div>
            <div class="desc">
              프로젝트 목표<br/>
              사용 언어<br/>
              소요 시간
            </div>
          </section>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </article>
  <div class="container">
    <hr/>
  </div>
  <article class="bootcamp-camp-description light">
    <div class="container">
      <h2 class="left">Bootcamp Description</h2>
      <p>Bootcamp 진행 내용과 실제 Job Description 의 매칭 정도를 직접 확인하세요.</p>
      <div class="row">
        <div class="col-md-4">
          <section>
            Headstart SV<br/>
            Bootcamp<br/>
            Desctiption<br/>
          </section>
        </div>
        <div class="col-md-4">
          <section>
            Job Description<br/>
            (Glassdoor)
          </section>
        </div>
        <div class="col-md-4">
          <section>
            Job Description<br/>
            (Monster)
          </section>
        </div>
      </div>
    </div>
  </article>
  <!--<div class="container">-->
    <!--<hr/>-->
  <!--</div>-->
  <article class="bootcamp-price dark">
    <div class="container">
      <h2 class="left">Bootcamp Description</h2>
      <div class="row">
        <div class="col-md-4 name">
          캠프 일정 :
        </div>
        <div class="col-md-4">
          <p>4주 (월요일 ~ 금요일)</p>
          <p>9 am ~ 5 pm</p>
          <p>주 1회 기업 방문 및 Field Trip</p>
          <p>주 1회 이상 Social Event 참석</p>
          <p>주 2회 Data Science Seminar (with Data Scientist)</p>
          <h3>총 가격 : $10,000</h3>
        </div>
        <div class="col-md-4">
          <div class="box">
            <ul>
              <li>항공 티켓</li>
              <li>차량 운행</li>
              <li>숙박 시설</li>
              <li>식사 제공(아침 & 저녁)</li>
              <li>기업 방문</li>
              <li>프로젝트 진행</li>
              <li>포트폴리오 제작</li>
              <li>Social Event 참여</li>
              <li>생활 지원</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>
  <!--<div class="container">-->
    <!--<hr/>-->
  <!--</div>-->
  <article class="dark">
    <a href="/bootcamp/1/apply"><button class="btn btn-default btn-large">Apply Now</button></a>
  </article>
</main>
