<style>
  /* BACKGROUND VIDEO */
  #backgroundVideo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /*max-height: 650px;*/
    z-index: -1;
    overflow: hidden;
  }
  #backgroundVideo img {
    width: 100%;
    height: auto;
    /*min-height: 650px;*/
    min-width: 1250px;
  }
  .video-glass {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 174, 166, 0.5);
  }
  .full-width-video {
    width: 100%;
    height: 100%;
    min-width: 1250px;
    /*min-height: 650px;*/
  }

  /* HEADER */
  header {
    text-align: center;
    /*height: 503px;*/
  }
  header h3 {
    margin: 50px auto 50px auto;
  }
  header figure {
    clear: both;
  }
  header figure img {
    display: block;
    margin: auto;
    padding-top: 30px;
    width: 315px;
  }

  /* CUSTOMER */
  .customer section {
    padding: 20px;
  }
  .customer span {
    line-height: 2em;
  }
  .customer h1 {
    color: #1F555F;
  }
  .customer img {
    width: 100%;
  }
  .customer h2 {
    text-align: center;
    color: #80cbc4;
  }

  /* HOW IT WORKS */
  .howitworks {
    padding: 0px;
    background-color: #6CA999;
  }
  .howitworks img {
    width: 100%;
  }

  /* SERVICE */
  .right-border {
    border-right: solid 1px gray;
  }
  .service section {
    padding: 20px 30px 20px 30px;
  }
  .service hr {
    width: 30px;
  }
  .service h3 {
    text-align: center;
  }
  .service ul {
    list-style-type: none;
    min-height: 200px;
  }
  .service li {
    line-height: 2em;
  }
  .service li:before {
    content: "-";
  }
  .service button {
    display: block;
    margin: auto;
  }

  .instructor h1 {
    font-weight: 600;
    color: #80cbc4;
    margin-bottom: 20px;
  }
  .instructor .circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: #cfd8dc;
    display: block;
    margin: auto;
  }
  .instructor figure {
    position: relative;
  }
  .instructor figure > div {
    display: none;
    position: absolute;
    background-color: #ffffff;
    left: -20px;
    top: -20px;
  }
  .instructor figure > div:hover {
    display: block;
  }
  .instructor figure > img:hover + div {
    display: block;
  }
</style>
<!-- BACKGROUND VIDEO FALLBACK -->
<!--[if lt IE 9]>
<style type="text/css">
  .mejs-offscreen {
    display: none !important;
  }
  .video-glass {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F39AEA6,endColorstr=#7F39AEA6);
    zoom: 1;
  }
</style>
<![endif]-->

<!-- BACK GROUND -->
<div id="backgroundVideo">
  <!-- BACKGROUND VIDEO FALLBACK -->
  <!--[if lt IE 9]>
  <img src="img/video.png"/>
  <![endif]-->
  <!--[if gt IE 8]> <!-- -->
  <video id="backgroundVideoPlayer" playsinline="true" autoplay="true" muted="true" loop="true" poster="img/video.png" class="full-width-video" width="100%" height="100%">
    <source src="img/background-video.mp4" type="video/mp4"/>
    <source src="img/background-video.webm" type="video/webm"/>
    <source src="img/background-video.ogv" type="video/ogg"/>
  </video>
  <!-- <![endif]-->
  <div class="video-glass"></div>
</div>

<!-- PROMOTE -->
<header class="container">
  <section>
    <figure>
      <img src="img/logo2.png">
    </figure>
    <h1><b>Meet Your Data Science Expert</b></h1>
    <h3>Headstart는 Data Science에 관한 당신의 커리어 성장을 도울 최적의 프로그램을 제공합니다. 지금, 미래를 바꾸세요.</h3>
  </section>
</header>
<main>
  <!-- CATCHPHRASE -->
  <article class="catchphrase dark">
    <div class="container">
      <h1>헤드스타트는 한국 <b>데이터사이언스</b> 교육의 <b>기준</b>입니다.</h1>
      <h3>Headstart is standard of Data science in Korea.</h3>
    </div>
  </article>
  <!-- CUSTOMER -->
  <article class="customer light">
    <div class="container">
      <h1>당신만을 위한 <b>커리큘럼을</b> 제공합니다.</h1>
      <div class="row">
        <section class="col-md-4">
          <figure>
            <img src="img/info1.png"/>
          </figure>
          <h2>학생</h2>
          <span>Headstart는 미국IT 기업의 업무진행방식을 직접 경험할 수 있는 Project를 통한 실습 및 인턴쉽을 제공하며 현장실습교과목을 통한 학점인정이 가능합니다. Headstart는 실제 업무에 사용되는 프로그래밍 역량을 강화하고 취업에 필요한 데이터 포트폴리오를 완성하여 취업까지 이어질 수 있도록 지원해 드립니다.</span>
        </section>
        <section class="col-md-4">
          <figure>
            <img src="img/info2.png"/>
          </figure>
          <h2>일반인</h2>
          <span>현업에서 업무역량을 키우고 싶으신 분, 데이터분석가로 커리어 전환하고 싶으신 분, 효율적인 데이터 분석과 실무적용을 위해 Data Science에 대한 Project를 진행합니다. Data Scientist로의 지름길을 찾아 가는데 Headstart 가 함께하겠습니다.</span>
        </section>
        <section class="col-md-4">
          <figure>
            <img src="img/info3.png"/>
          </figure>
          <h2>기업</h2>
          <span>Headstart는 실제 미국 IT기업이 데이터를 분석하는 방법과 데이터 활용사례를 기반으로 차별화된 Data Science 관련 사내 교육을 진행합니다. 무수한 데이터 속 올바른 결정을 내리기 힘든 경우, HEADSTART와의 아웃소싱을 통해 최상의 결과를 만들어보십시오.</span>
        </section>
      </div>
    </div>
  </article>
  <!-- HOW IT WORKS -->
  <article class="howitworks">
    <img src="img/howitworks.png"/>
  </article>
  <!-- SERVICE -->
  <article class="service dark row">
    <section class="col-md-4 right-border">
      <hr />
      <h3>BOOTCAMP</h3>
      <span>
        <ul>
          <li>Short Term Intensive Camp</li>
          <li>기초 통계, 데이터 수집, 데이터 분석, 데이터 시각화</li>
          <li>정형화 모델 형성</li>
          <li>Whiteboarding 을 통한 문제 해결 능력 향상</li>
          <li>실리콘 밸리 전문가와의 네트워킹</li>
        </ul>
      </span>
      <button class="btn btn-default">MORE</button>
    </section>
    <section class="col-md-4 right-border">
      <hr />
      <h3>PROJECT</h3>
      <span>
        <ul>
          <li>현직 전문가의 Project Managing</li>
          <li>전달식 강의를 벗어난 실전 Project 참여</li>
          <li>미국 IT 기업 업무 Process 적용</li>
          <li>Project 결과 Portfolio 제작</li>
          <li>수준별 Project 참여</li>
          <li>Expert Level 기업 Project 참여</li>
        </ul>
      </span>
      <button class="btn btn-default">MORE</button>
    </section>
    <section class="col-md-4">
      <hr />
      <h3>ONLINE</h3>
      <span>
        <ul>
          <li>E-mail 을 통한 매일 학습 가능</li>
          <li>엄선된 Data Structure, Algorithm 문제 제공</li>
          <li>Data Science 기초 , 실전 Level 학습 제공</li>
          <li>R, Phython, SQL 학습</li>
          <li>현직 전문가와의 질의 응답</li>
        </ul>
      </span>
      <button class="btn btn-default">MORE</button>
    </section>
  </article>
  <!-- INSTRUCTOR -->
  <article id="instructor" class="instructor container">
    <h1 class="left">INSTRUCTOR</h1>
    <div class="row">
      <figure class="col-md-3">
        <img class="circle" src="img/instructor-01.png" />
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="statkwon"><a class="LI-simple-link" href='https://www.linkedin.com/in/statkwon?trk=profile-badge'>Jaimyoung (Jaimie) Kwon</a></div>
      </figure>
      <figure class="col-md-3">
        <img class="circle" src="img/instructor-02.png" />
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="jerrid-matthews-609a682"><a class="LI-simple-link" href='https://www.linkedin.com/in/jerrid-matthews-609a682?trk=profile-badge'>Jerrid Matthews</a></div>
      </figure>
      <figure class="col-md-3">
        <img class="circle" src="img/instructor-03.png" />
      </figure>
      <figure class="col-md-3">
        <span class="circle"></span>
      </figure>
    </div>
  </article>

  {{> body/contacts}}
</main>
