<style>
  /* BACKGROUND VIDEO */
  #backgroundVideo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    /*max-height: 650px;*/
    z-index: -1;
    overflow: hidden;
  }
  #backgroundVideo img {
    width: 100%;
    height: auto;
    /*min-height: 650px;*/
    min-width: 1250px;
  }
  .video-glass {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(57, 174, 166, 0.5);
  }
  .full-width-video {
    width: 100%;
    height: 100%;
    min-width: 1250px;
    /*min-height: 650px;*/
  }

  /* HEADER */
  header {
    text-align: center;
    /*height: 503px;*/
  }
  header h3 {
    margin: 50px auto 50px auto;
  }
  header figure {
    clear: both;
  }
  header figure img {
    display: block;
    margin: auto;
    padding-top: 30px;
    width: 315px;
  }

  /* CUSTOMER */
  .customer section {
    padding: 20px;
  }
  .customer span {
    line-height: 2em;
  }
  .customer h1 {
    color: #1F555F;
  }
  .customer img {
    width: 100%;
  }
  .customer h2 {
    text-align: center;
    color: #80cbc4;
  }

  /* HOW IT WORKS */
  .howitworks {
    padding: 0px;
    background-color: #6CA999;
  }
  .howitworks img {
    width: 100%;
  }

  /* SERVICE */
  .right-border {
    border-right: solid 1px gray;
  }
  .service section {
    padding: 20px 30px 20px 30px;
  }
  .service hr {
    width: 30px;
  }
  .service h3 {
    text-align: center;
  }
  .service ul {
    list-style-type: none;
    min-height: 300px;
  }
  .service li {
    line-height: 2em;
  }
  .service li:before {
    content: "-";
  }
  .service button {
    display: block;
    margin: auto;
  }

  .instructor h1 {
    font-weight: 600;
    color: #80cbc4;
    margin-bottom: 20px;
  }
  .instructor .circle {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: #cfd8dc;
    display: block;
    margin: auto;
  }
  .instructor figure {
    position: relative;
  }
  .instructor figure > div {
    display: none;
    position: absolute;
    background-color: #ffffff;
    left: 50%;
    margin-left: -140px;
    top: 50%;
    margin-top: -105px;
  }
  .instructor figure > div:hover {
    display: block;
  }
  .instructor figure > img:hover + div {
    display: block;
  }
</style>
<!-- BACKGROUND VIDEO FALLBACK -->
<!--[if lt IE 9]>
<style type="text/css">
  .mejs-offscreen {
    display: none !important;
  }
  .video-glass {
    background:transparent;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F39AEA6,endColorstr=#7F39AEA6);
    zoom: 1;
  }
</style>
<![endif]-->

<!-- BACK GROUND -->
<div id="backgroundVideo">
  <!-- BACKGROUND VIDEO FALLBACK -->
  <!--[if lt IE 9]>
  <img src="img/video.png"/>
  <![endif]-->
  <!--[if gt IE 8]> <!-- -->
  <video id="backgroundVideoPlayer" playsinline="true" autoplay="true" muted="true" loop="true" poster="img/video.png" class="full-width-video" width="100%" height="100%">
    <source src="img/background-video.mp4" type="video/mp4"/>
    <source src="img/background-video.webm" type="video/webm"/>
    <source src="img/background-video.ogv" type="video/ogg"/>
  </video>
  <!-- <![endif]-->
  <div class="video-glass"></div>
</div>

<!-- PROMOTE -->
<header class="container">
  <section>
    <figure>
      <img src="img/logo2.png">
    </figure>
    <h1><b>Meet Your Data Science Expert</b></h1>
    <h3>Headstart는 독자적인 Project 중심으로 커리큘럼을 구성하였습니다.<br/>Data Science를 스스로 익히고 수행 할 수 있습니다. 초보자 과정 부터 고급 과정까지 Bootcamp 안에 담아 운영하는 Data Science 전문 연수 기관입니다.</h3>
  </section>
</header>
<main>
  <!-- CATCHPHRASE -->
  <article class="catchphrase dark">
    <div class="container">
      <h1>헤드스타트는 한국 <b>데이터사이언스</b> 교육의 <b>기준</b>입니다.</h1>
      <h3>Headstart has been a standard of Data Science Institution in Korea.</h3>
    </div>
  </article>
  <!-- CUSTOMER -->
  <article class="customer light">
    <div class="container">
      <h2>Headstart 만의 독자적인 <b>커리큘럼</b>을 제공합니다.</h2>
      <div class="row">
        <section class="col-md-3">
          <figure>
            <img src="/img/curriculum-1.png"/>
          </figure>
          <h4>현직 실리콘 밸리 Data Scientist 참여</h4>
          <span>현재 실리콘 밸리에서 근무중인 Data Scientist 가 최근 trend와 적용사례들을 반영한 Curriculum 진행</span>
        </section>
        <section class="col-md-3">
          <figure>
            <img src="/img/curriculum-2.png"/>
          </figure>
          <h4>넓은 수강생 스펙트럼</h4>
          <span>다양한 관점에서 데이터를 분석하는 초보자과정 부터, 데이터 분석 방법과 심화 분석 결과를 실전에 응용할 수 있는 심화과정 운영</span>
        </section>
        <section class="col-md-3">
          <figure>
            <img src="/img/curriculum-3.png"/>
          </figure>
          <h4>실무 지향 프로그램</h4>
          <span>현재 진행하는 업무와 유사한 Project 를 수행하여 빠르게 본업에 적용</span>
        </section>
        <section class="col-md-3">
          <figure>
            <img src="/img/curriculum-4.png"/>
          </figure>
          <h4>전문가의 노하우</h4>
          <span>Project 를 통해 실전 능력을 기르고, 전문가의 분석 방법과 노하우를 통하여 통찰력을 기를 수 있는 System 운영</span>
        </section>
      </div>
    </div>
  </article>
  <!-- HOW IT WORKS -->
  <article class="howitworks">
    <img src="img/howitworks.png"/>
  </article>
  <!-- SERVICE -->
  <article class="service dark row">
    <section class="col-md-4 right-border">
      <hr />
      <h3>Bootcamp</h3>
      <span>
        <ul>
          <li>현직 전문가가 직접 기획한 Projects</li>
          <li>직장인은 Project 수행 후 바로 현재 업무에 적용가능</li>
          <li>기초코딩부터 결과 시각화까지 다양한 교육범위</li>
          <li>전문가의 노하우를 Project 실습을 통해 습득</li>
          <li>미국 현지 Data Scientist Job 채용조건과 매칭</li>
          <li>단기집중 코스 및 장기교육 프로그램</li>
          <li>미국 현지진행 프로그램 참여시, 현지 Network 구축</li>
        </ul>
      </span>
      <button class="btn btn-default">MORE</button>
    </section>
    <section class="col-md-4 right-border">
      <hr />
      <h3>Pre-Course</h3>
      <span>
        <ul>
          <li>다양한 self-study 컨텐츠로 구성</li>
          <li>스스로 부족한 부분을 확인 후 선택학습</li>
          <li>기초 통계분석 레벨</li>
          <li>R programming 과제 제공</li>
          <li>On-line contact를 통한 개별지도 가능</li>
        </ul>
      </span>
      <button class="btn btn-default">MORE</button>
    </section>
    <section class="col-md-4">
      <hr />
      <h3>History & News</h3>
      <span>
        <ul>
          <li>Data Science 관련 직종정보와 업계현황 공유</li>
          <li>Project Portfolio 결과 공유</li>
          <li>Headstart 프로그램 소개와 활동 공유</li>
          <li>Data Science 관련 기사와 소식 공유</li>
          <li>미국 현지 업계의 Data Science 활용 공유</li>
        </ul>
      </span>
      <button class="btn btn-default">MORE</button>
    </section>
  </article>
  <!-- INSTRUCTOR -->
  <article id="instructor" class="instructor container">
    <h1 class="left">INSTRUCTOR</h1>
    <div class="row">
      <figure class="col-md-3">
        <img class="circle" src="/img/instructor-01.png" />
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="statkwon"><a class="LI-simple-link" href='https://www.linkedin.com/in/statkwon?trk=profile-badge'>Jaimyoung (Jaimie) Kwon</a></div>
      </figure>
      <figure class="col-md-3">
        <img class="circle" src="/img/instructor-02.png" />
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="jerrid-matthews-609a682"><a class="LI-simple-link" href='https://www.linkedin.com/in/jerrid-matthews-609a682?trk=profile-badge'>Jerrid Matthews</a></div>
      </figure>
      <figure class="col-md-3">
        <img class="circle" src="/img/instructor-03.png" />
      </figure>
      <figure class="col-md-3">
        <span class="circle"></span>
      </figure>
    </div>
  </article>

  {{> body/contacts}}
</main>
